body {
    background-color: #7F7F7F;
}

.hexes {
    position: relative;
    text-align: center;
    height: 500px;
    width: 800px;
    top: 100;
    margin: 0 auto;
}

hexes.hex1 {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hex2 {
    position: absolute;
    top: 76;
    left: 451;
}

.hex3 {
    position: absolute;
    top: 225;
    left: 451;
}

.hex4 {
    position: absolute;
    top: 297;
    left: 317;
}

.hex5 {
    position: absolute;
    top: 225;
    left: 182;
}

.hex6 {
    position: absolute;
    top: 76;
    left: 182;
}

.hexc {
    position: absolute;
    top: 148;
    left: 317;
    width: %;
}